@model VidlyCore.ViewModels.CustomerFormViewModel
@{
    ViewData["Title"] = "New";
}

@{
    var formTitle = "Edit Customer";
    if (Model.Customer == null )
    {
        formTitle = "New Customer";
    }
}

<h1>@formTitle</h1>
<form asp-action="Save" asp-controller="Customers" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Customer.Name"></label>
        <input type="text" asp-for="Customer.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Customer.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.MembershipTypeId"></label>
        <select class="form-control" asp-for="Customer.MembershipTypeId" asp-items="@(new SelectList(Model.MembershipTypes, "Id", "Name"))">
            <option>Select Membership Type</option>
        </select>
        <span class="text-danger" asp-validation-for="Customer.MembershipTypeId"></span>

    </div>
    <div class="form-group">
        <label asp-for="Customer.BirthDate"></label>
        <input type="text" asp-for="Customer.BirthDate" asp-format="{0:d MMM yyyy}" class="form-control" />
        <span class="text-danger" asp-validation-for="Customer.BirthDate"></span>

    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" asp-for="Customer.IsSubscribedToNewsletter">
        <label class="form-check-label" asp-for="Customer.IsSubscribedToNewsletter">Subscribe to Newsletter?</label>
    </div>
    <input type="hidden" asp-for="Customer.Id" />
    <button type="submit" class="btn btn-primary">Send</button>
</form>
@*@using (Html.BeginForm("Save", "Customers"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.Name)
            @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.BirthDate)
            @Html.TextBoxFor(m => m.Customer.BirthDate, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.MembershipTypeId)
            @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type ", new { @class = "form-control" })
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribe to Newsletter?
            </label>
        </div>
        @Html.TextBoxFor(m => m.Customer.Id)
        <button type="submit" class="btn btn-primary">Send</button>
    }*@



